:root{
    --sidebarcolor: #ffffff;
    --bodycolor: #a6bdfc;
}

body{
    height: 100vh;
    background: var(--bodycolor);
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background: var(--sidebarcolor);
    border: 15px solid green;
}